<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyectagenda.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
        <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".AgendaAndroidActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="NuevoContacto"></activity>
        <activity android:name="EliminarContacto"></activity>
        <activity android:name="Nuevo"></activity>
        <activity android:name="Consulta"></activity>
        <activity android:name="Modificar1"></activity>
        <activity android:name="Modificar2"></activity>
        <activity android:name="buscar"></activity>
        <activity android:name="Detalle"></activity>
  
    </application>

</manifest>